fastapi==0.104.1
uvicorn==0.24.0
openai-whisper==20231117
yt-dlp==2024.10.22
python-multipart==0.0.6
requests>=2.32.2
python-dotenv>=1.0.1
accelerate
datasets
evaluate
pydantic
sacrebleu
sentencepiece
torch
transformers
whisper
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
psycopg2-binary
sqlalchemy
beautifulsoup4
colorthief
cssutils
pillow
playwright
webcolors
pydub==0.25.1
